mixin connection
    .b-connection
        .container
            .row
                .col-12.col-lg-8.mx-auto
                    .subtitle.secondary ОФД Пионер
                    h2 Подключитесь к ОФД
                    .text
                        p
                        span.text-strong  Сервис ОФД Пионер — это гарантия надежности, совместимости и безупречного сервиса.
                        br
                        span Мы береем на себя все организационные вопросы по подключению и дальнейшему взаимодействию.
