doctype html
html(lang='ru')
    head
        - var pageTitle, pageDescription, pageKeywords;

        block head

        title= pageTitle || 'Likee template'

        meta(name='description' content= pageDescription || '')
        meta(name='keywords' content= pageKeywords || '')

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')

        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
        meta(name='imagetoolbar' content='no')
        meta(name='msthemecompatible' content='no')
        meta(name='cleartype' content='on')
        meta(name='HandheldFriendly' content='True')
        meta(name='format-detection' content='telephone=no')
        meta(name='format-detection' content='address=no')
        meta(name='apple-mobile-web-app-capable' content='yes')
        meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

        link(href='template_styles.css' rel='stylesheet')
        link(href='components.css' rel='stylesheet')


    body.b-site(itemscope itemtype="http://schema.org/WebPage")
        block content

        script(src="https://yastatic.net/jquery/3.1.1/jquery.min.js")
        script(src='js/main.bundle.js')