mixin header
    .b-header.container
        .nav.justify-content-center
            a.nav-link.active(href= '#') Active
            a.nav-link(href= '#') Link
            a.nav-link(href= '#') Link
            a.nav-link.disabled(href= '#') Disabled