@font-face {
    font-family: 'Proxima Nova Th';
    src: url('fonts/ProximaNova-Extrabld.eot');
    src: url('fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-Extrabld.woff2') format('woff2'),
    url('fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/ProximaNova-Bold.eot');
    src: url('fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('fonts/ProximaNova-Bold.woff') format('woff'),
    url('fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/ProximaNova-Regular.eot');
    src: url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('fonts/ProximaNova-Regular.woff') format('woff'),
    url('fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('fonts/ProximaNova-Light.eot');
    src: url('fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-Light.woff2') format('woff2'),
    url('fonts/ProximaNova-Light.woff') format('woff'),
    url('fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Houschka Pro';
    src: url('fonts/HouschkaPro-DemiBold.eot');
    src: url('fonts/HouschkaPro-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/HouschkaPro-DemiBold.woff2') format('woff2'),
    url('fonts/HouschkaPro-DemiBold.woff') format('woff'),
    url('fonts/HouschkaPro-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Houschka Pro';
    src: url('fonts/HouschkaPro-Light.eot');
    src: url('fonts/HouschkaPro-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/HouschkaPro-Light.woff2') format('woff2'),
    url('fonts/HouschkaPro-Light.woff') format('woff'),
    url('fonts/HouschkaPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}