//функция для плавного изменения шрифта в зависимости от изменения ширины окна. аргументы:
// $f-min - мин размер шрифта,
// $f-max - макс. размер шрифта,
// $v-min - мин. ширина окна
// $v-max - макс. ширина окна

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc( #{$k} * 100vw + #{$b} );
}
