.btn,
.form-check-label,
.form-check-input:not([disabled]) {
    cursor: pointer;
}

//заголовки

h1 {
    color: white;
    line-height: 1.125;
}

.subtitle {
    font-family: "Proxima Nova", sans-serif;
    text-transform: uppercase;
    font-size: 0.75rem;

    &.white {
        color: white;
    }

    &.primary {
        color: $primary;
    }
}


