.btn,
.form-check-label,
.form-check-input:not([disabled]) {
    cursor: pointer;
}

//контейнеры

.container-max {
    max-width: 1600px;
    margin: 0 auto;
}

//заголовки

h1 {
    color: white;
    line-height: 1.125;
}

h1, .h1 {
    font-size: 5rem;
    @include media-breakpoint-down(lg) {
        font-size: calcFluidFontSize(36, 80, 425, 1366);
    }

    @include media-breakpoint-down(xs) {
        font-size: 36px;
    }
}


h2 {
    margin-bottom: 0.3em;
}

h2, .h2 {
    @include media-breakpoint-down(lg) {
        font-size: calcFluidFontSize(28, 60, 425, 1366);
    }

    @include media-breakpoint-down(xs) {
        font-size: 28px;
    }
}

h3 {
    margin-bottom: 1.8em;
}

h3, .h3 {
    @include media-breakpoint-down(lg) {
        font-size: calcFluidFontSize(22, 28, 425, 1366);
    }

    @include media-breakpoint-down(xs) {
        font-size: 22px;
    }
}

.btn {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 57px;
    height: 57px;
}

.subtitle {
    font-family: "Proxima Nova", sans-serif;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 30px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
    }

    &.white {
        color: white;
    }

    &.secondary {
        color: $secondary;
    }
}

//цветные sections

.section-light-secondary {
    background: $light-secondary;
    padding: 70px 0 120px;

    @include media-breakpoint-down(sm) {
        padding: 40px 0 60px;
    }
}

.section-yellow {
    background: $yellow;
}


